/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* body {
  font-family: 'MedievalMystery', sans-serif;
} */

/* @font-face {
  font-family: 'MedievalMystery';
  src: url('src/assets/fonts/MedievalMystery.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
