<div class="wrapper">
  <!-- Background video container -->
  <div id="video-background-container">
    <iframe id="video-background-player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" title="Background Video" src="https://www.youtube-nocookie.com/embed/dfyrRsYAAdo?controls=0&showinfo=0&modestbranding=1&wmode=transparent&vq=large&rel=0&loop=1&playlist=dfyrRsYAAdo&enablejsapi=1&autoplay=1&mute=1"></iframe>
  </div>

  <!-- Overlay -->
  <div class="bg-overlay"></div>

  <!-- Main content area -->
  <div class="main">
    <img id="logoImg" src="https://media.discordapp.net/attachments/1080302897599877181/1206948982744424499/Dragon_scrown_logo-Photoroom.png-Photoroom.png?ex=65ddddd5&amp;is=65cb68d5&amp;hm=e7fd6afa4148c0bf8b5f1ffd73986654cd0a8b4507cf6948580e6a0c4f357d20&amp;=&amp;format=webp&amp;quality=lossless&amp;width=2112&amp;height=1058" alt="Logo">
    <!-- Your main content goes here -->
    <div class="content">
      <div class="gdiv">
        <img src="https://atlus.com/dragonscrown/img/home/gargoylediv.png" alt="">
      </div>
      <hr>
      <div class="story-label">
        <img src="https://atlus.com/dragonscrown/img/common/menu_story.png" alt="">
      </div>
      <hr>
      <p>Swords, Dungeons, Sorcery, and Dragons... Enjoy the Ultimate Gamemaster-driven Fantasy!
        "The paths that lead people to this land are many and varied, but they share a single goal.
        Now you have journeyed here to brave the dangerous, monster-ridden dungeons.
        Daring adventurers from far and wide have come to face the labyrinths on the outskirts of town, and you are joining their ranks.
        You must first gather a strong party.
        No matter how brave you are, it’s not safe to go alone.
        Let us begin your journey...
        I wish you good luck."</p>
        <hr>
      <div class="characters-label">
        <img src="https://atlus.com/dragonscrown/img/common/menu_character.png" alt="">
      </div>
      <hr>
      <p class="small-text">Select a class to get started:</p>
      <div class="portraits">
        <ul>
          <li id="fighter">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157823264395346/fighter-portrait.png?ex=65dea054&is=65cc2b54&hm=9017b9edae302163441d1b5f5f855bee9226a0cb1d14e22458e14bb37c1a4d77&=&format=webp&quality=lossless&width=400&height=180" alt="Fighter">
          </li>
          <li id="amazon">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157822366818344/amazon-portrait.png?ex=65dea054&is=65cc2b54&hm=7402c1089c13c59871f711d9837ce9cd6ba9f52a63e5f610d3426158d02c2a46&=&format=webp&quality=lossless&width=400&height=180" alt="Amazon">
          </li>
          <li id="elf">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157822995832872/elf-portrait.png?ex=65dea054&is=65cc2b54&hm=9ba3048b2f5671bd705fa8ec1bb29af8fd5af8c32ee67d3a0aa75f6be97ba77c&=&format=webp&quality=lossless&width=400&height=180" alt="Elf">
          </li>
          <li id="dwarf">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157822685577256/dwarf-portrait.png?ex=65dea054&is=65cc2b54&hm=cfc53cda237847ed4382644d181689efb81e9263e67584dc71e20d0b4de9ff81&=&format=webp&quality=lossless&width=400&height=180" alt="Dwarf">
          </li>
          <li id="sorceress">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157823558123580/sorceress-portrait.png?ex=65dea055&is=65cc2b55&hm=abe4a99325e573be169a2cf54349416c80d2e1c1ff15647205ee44713ba98841&=&format=webp&quality=lossless&width=400&height=180" alt="Sorceress">
          </li>
          <li id="wizard">
            <img src="https://media.discordapp.net/attachments/1080302897599877181/1207157823864049704/wizard-portrait.png?ex=65dea055&is=65cc2b55&hm=f3f55e077ca77cb8afa09db9d0d095ec92c065ba036fb434584af355e723e4c5&=&format=webp&quality=lossless&width=400&height=180" alt="Wizard">
          </li>
        </ul>
      </div>
      <div class="planner">
        <div class="col n1">
          <div class="player-class">
            <label for="class">Class</label>
            <div class="wrapper-class">
              <span id="class-name"></span>
            </div>
          </div>
          <div class="player-level">
            <label for="level">Level</label>
            <input id="level" type="number" value="0">
            <!-- <button class="material-icons down">keyboard_arrow_down</button>
            <button class="material-icons up">keyboard_arrow_up</button> -->
          </div>
          <div class="player-attributes">
            <div>
              <label for="">HP</label>
              <div class="stat-wrapper">
                <span id="health">0</span>
              </div>
            </div>
            <div>
              <label for="">STR</label>
              <div class="stat-wrapper">
                <span id="strength">0</span>
              </div>
            </div>
            <div>
              <label for="">INT</label>
              <div class="stat-wrapper">
                <span id="intelligence">0</span>
              </div>
            </div>
            <div>
              <label for="">CON</label>
              <div class="stat-wrapper">
                <span id="constitution">0</span>
              </div>
            </div>
            <div>
              <label for="">MGR</label>
              <div class="stat-wrapper">
                <span id="magic-resistance">0</span>
              </div>
            </div>
            <div>
              <label for="">DEX</label>
              <div class="stat-wrapper">
                <span id="dexterity">0</span>
              </div>
            </div>
            <div>
              <label for="">LUC</label>
              <div class="stat-wrapper">
                <span id="luck">0</span>
              </div>
            </div>
          </div>
          <div class="exp-cost"></div>
        </div>
        <div class="position-gif">
          <div class="gif-wrapper">
            <div class="gif-crt"></div>
            <img class="gif-animation" src="https://static.wikia.nocookie.net/dragons-crown/images/a/aa/Walking_animation.gif" alt="Fighter Sprite">
          </div>
        </div>
      </div>

      <div class="meta-wrapper">
        <div class="skills-wrapper"></div>
        <div class="stats-wrapper"></div>
      </div>

      <div class="spacer"></div>
    </div>
  </div>
</div>


