<div class="wrapper">
  <!-- Background video container -->
  <div id="video-background-container">
    <iframe id="video-background-player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" title="Background Video" src="https://www.youtube-nocookie.com/embed/dfyrRsYAAdo?controls=0&showinfo=0&modestbranding=1&wmode=transparent&vq=large&rel=0&loop=1&playlist=dfyrRsYAAdo&enablejsapi=1&autoplay=1&mute=1"></iframe>
  </div>

  <!-- Overlay -->
  <div class="bg-overlay"></div>

  <!-- Main content area -->
  <div class="main">
    <img id="logoImg" src="https://media.discordapp.net/attachments/1080302897599877181/1206948982744424499/Dragon_scrown_logo-Photoroom.png-Photoroom.png?ex=65ddddd5&amp;is=65cb68d5&amp;hm=e7fd6afa4148c0bf8b5f1ffd73986654cd0a8b4507cf6948580e6a0c4f357d20&amp;=&amp;format=webp&amp;quality=lossless&amp;width=2112&amp;height=1058" alt="Logo">
    <!-- Your main content goes here -->
    <div class="content">
      <div class="gdiv">
        <!-- <img src="https://atlus.com/dragonscrown/img/home/gargoylediv.png" alt=""> -->
        <img src="https://media.discordapp.net/attachments/1080302897599877181/1207690958725062696/gold_top_pattern.png?ex=65e090da&is=65ce1bda&hm=ac5bc0a2420188bf0e13a35ee31169787d4fccf11b93bc05ff872bc3a97c3b9a&=&format=webp&quality=lossless&width=1784&height=86" alt="">
      </div>
      <div class="middle">

        <!-- <hr style="margin-top:0;"> -->
        <div class="story-label">
          <img src="https://atlus.com/dragonscrown/img/common/menu_story.png" alt="">
        </div>
        <hr style="margin-bottom:0;">
        <p style="background-color: rgba(0, 0, 0, 0.01);">"You came to Hydeland as an adventurer. Like many of your fellows, you strove to challenge the dangerous labyrinths here. The labyrinths were every bit as perilous as you'd heard. Most were lucky to even have their bones exit the ruins. You don't currently belong to the guild. I recommend registering. You can get jobs there and learn skills."</p>
          <hr>
        <div class="characters-label">
          <img src="https://atlus.com/dragonscrown/img/common/menu_character.png" alt="">
        </div>
        <hr style="margin-bottom:0;">
        <p style="background-color: rgba(0, 0, 0, 0.01);">Swords, Dungeons, Sorcery, and Dragons... Enjoy the Ultimate Gamemaster-driven Fantasy!
          "The paths that lead people to this land are many and varied, but they share a single goal.
          Now you have journeyed here to brave the dangerous, monster-ridden dungeons.
          Daring adventurers from far and wide have come to face the labyrinths on the outskirts of town, and you are joining their ranks.
          You must first gather a strong party.
          No matter how brave you are, it’s not safe to go alone.
          Let us begin your journey...
          I wish you good luck."</p>
          <hr style="margin-bottom:0;">
        <p style="background-color: rgba(0, 0, 0, 0.01);" class="small-text">Select a class to get started:</p>
        <div class="portraits">
          <ul id="portraits-ul">
            <li *ngFor="let classData of playerClasses; let i = index" [id]="classData.id" (click)="loadClassData(i)" [ngClass]="{'selected': selectedClassIndex === i, 'unselected': selectedClassIndex !== i}">
              <img [src]="classData.portraitUrl" [alt]="classData.name">
            </li>
          </ul>
        </div>
        <hr style="margin-bottom: 0;">
        <div class="class-description">
          <p style="background-color: rgba(0, 0, 0, 0.01);" id="description-text"></p>
        </div>
        <div class="planner" *ngIf="classSelected">
          <hr>
          <div class="n1-wrapper">
            <div class="col n1" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="player-class">
                <label style="pointer-events:none;" for="class">Class</label>
                <div class="wrapper-class">
                  <span id="class-name">{{currentClassData?.name}}</span>
                </div>
              </div>
              <div class="mini-captions">
                <span>Attribute</span>
                <span>Current</span>
              </div>
              <div class="player-level">
                <label for="level">Level</label>
                <input id="level" type="text" [(ngModel)]="currentStats.level"
                       (blur)="onLevelChange()"
                       (keyup.enter)="onLevelChange()">
                <!-- Material button with an icon -->
                <button mat-icon-button class="arrow-buttons" id="down-arrow" (click)="levelDown()">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>

                <!-- Material icon button -->
                <button mat-icon-button class="arrow-buttons" id="up-arrow" (click)="levelUp()">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
              </div>

              <div class="player-attributes">
                <div>
                  <label for="">HP</label>
                  <div class="stat-wrapper">
                    <span id="health">{{currentStats?.health}}</span>
                  </div>
                </div>
                <div>
                  <label for="">STR</label>
                  <div class="stat-wrapper">
                    <span id="strength">{{currentStats?.strength}}</span>
                  </div>
                </div>
                <div>
                  <label for="">INT</label>
                  <div class="stat-wrapper">
                    <span id="intelligence">{{currentStats?.intelligence}}</span>
                  </div>
                </div>
                <div>
                  <label for="">CON</label>
                  <div class="stat-wrapper">
                    <span id="constitution">{{currentStats?.constitution}}</span>
                  </div>
                </div>
                <div>
                  <label for="">MGR</label>
                  <div class="stat-wrapper">
                    <span id="magic-resistance">{{currentStats?.magicResistance}}</span>
                  </div>
                </div>
                <div>
                  <label for="">DEX</label>
                  <div class="stat-wrapper">
                    <span id="dexterity">{{currentStats?.dexterity}}</span>
                  </div>
                </div>
                <div>
                  <label for="">LUC</label>
                  <div class="stat-wrapper">
                    <span id="luck">{{currentStats?.luck}}</span>
                  </div>
                </div>
                <div>
                  <label for="">EXP</label>
                  <div class="stat-wrapper">
                    <span id="exp">{{currentStats?.requiredExp}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="alt-artwork">
              <img style="height: -webkit-fill-available;" [src]="currentClassData?.artworkUrl" alt="artwork">
            </div>
          </div>
          <div class="n3">
            <!-- <div class="gif-crt"></div> -->
            <div class="class-title">
              <img id="title-img" [src]="currentClassData?.titleUrl" alt="banner">
            </div>
            <div class="position-gif">
              <div class="gif-wrapper">
                <!-- <div class="gif-crt"></div> -->
                <img class="gif-animation" [src]="currentClassData?.animationUrl" alt="animation">
              </div>
            </div>
          </div>
        </div>

        <div class="meta-wrapper">
          <div class="skills-wrapper"></div>
          <div class="stats-wrapper"></div>
        </div>
        <!-- <div style="position: relative; top:0; right:0; opacity: 0.2;">
          <img style="position: relative" src="https://dragons-crown.com/resources/img/top/dragon.png" alt="">
        </div> -->
        <!-- <div class="spacer" *ngIf="classSelected"></div> -->
      </div>
      <div class="bdiv">
        <!-- <img src="https://atlus.com/dragonscrown/img/home/gargoylediv.png" alt=""> -->
        <img src="https://media.discordapp.net/attachments/1080302897599877181/1207690958032871454/gold_bottom_pattern.png?ex=65e090da&is=65ce1bda&hm=a0b04199b6d535a3e5eda1e27729cc80f9f2268c0862fcc9028bc5ef1063ea1a&=&format=webp&quality=lossless&width=1784&height=86" alt="">
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">
        <p>©2024 Dragon's Crown Planner | Michael Harrington</p>
      </div>
    </div>
  </div>
</div>


