.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  overflow-x: scroll;
  overflow-y: auto;
}

#video-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

#video-background-player {
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  object-fit: cover;
  pointer-events: none;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  background-repeat: repeat;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(https://en.dragon-ball-official.com/assets/img/news/comment/bg_dots.png);
  position: absolute;
  background-size: 5px;
}

.main {
  display: flex;
  flex-direction:column;
  background: none;
  padding: 1em;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
}

#logoImg {
  width: 150px;
  height: auto;
  z-index: 3;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1.0));
}

.content {
  position: relative;
  max-width: 1000px;
  width: 1000px;
  min-height: 812.859px;
  margin: 0 auto;
  margin-top: 95px;
  margin-bottom: 100px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: rgb(0 35 51);
  background-color: rgb(3 68 89);
  color: #fff;
  box-shadow: 0px 0px 10px 2px #000000;
  background-repeat: repeat;
  background-position: top left;
  background-size: 100%;
  z-index:1;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 5 stretch;
}

.gdiv {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.gdiv img {
  display: block;
  width: 100%;
  height: auto;
}

.bdiv {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.bdiv img {
  display: block;
  width: 100%;
  height: auto;
}

.middle {
  width: 100%;
  background: url(https://dragonscrown.s3.amazonaws.com/DragonsCrownPatterns/gold_middle_pattern.png) repeat-y left bottom;
  background-size: 100% auto;
  padding-left: 40px;
  padding-right: 40px;
}

.content h1 {
  color: #222;
  color: #e4b612;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.05rem;
}

.portraits {
  display: flex;
  width: 100%;
}

.portraits ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  min-height: 71px;
  background-color: black;
  /* border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30; */
}

.portraits ul li img {
  width: 100%;
  height: 100%;
  position: relative;
}

.portraits li {
  position: relative;
}

.unselected {
  width: 100%;
  height: auto;
  opacity: 0.7;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  transition: filter 0.6s, opacity 0.3s;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.unselected:first-of-type {
  border-left: 3px solid transparent;
}

.unselected:last-of-type {
  border-right: 3px solid transparent;
}

.unselected:hover {
  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5)) brightness(1.2);
  z-index: 3;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.selected {
  /* box-shadow: rgb(244 67 54) 0px 0px 0px 3px; */
  width:100%;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5)) brightness(1.2);
  opacity: 1;
  z-index: 2;
  border: none;
  border: 3px solid rgb(244 67 54);
}

.spacer {
  height: 500px;
}

.n3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://atlus.com/dragonscrown/img/story/storytext_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  width: 500px;
  max-width: 500px;
  max-height: 295px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgb(202 179 92) 0px 0px 0px 1px;
}

.class-description {
  min-height: 400px;
  position: relative;
  padding: 0px 0px 20px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 50px;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
}


.class-backdrop {
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  border: 1px solid #ffd602;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 30%), var(--backgroundImage);
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.class-backdrop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
}

.class-title {
  display: flex;
  justify-content: center;
  width:100%;
  background-color: rgb(31 3 2 / 90%);
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  border-top: 12px double rgba(93, 53, 2, .7);
  border-bottom: 12px double rgba(93, 53, 2, .7);
}

#title-img {
  width: auto;
  height: 40px;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(10, 10, 10, 1.0));
}

.position-gif {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.gif-wrapper {
  position: relative;
  width: 210px;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.gif-crt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  background-image: url("https://dragons-crown.com/resources/img/top/overlay.png");
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.2;
}

.gif-animation {
  position: relative;
  width: auto;
  z-index: 1;
  border-radius: 15px;
  max-height: 190px;
  padding: 10px;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1.0));
}

.planner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.n1-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid #ffd602;
  margin-top: 8px;
  height: 435px;
  background-image: var(--plannerBackgroundUrl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: black;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.n1-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000000, #000000b5 50%, transparent);
}

.n1 {
  flex: 1;
}

.alt-artwork {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
  padding-right: 15px;
  border-right: none;
}

.alt-artwork img {
  -webkit-filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 1.0));
  padding-top: 15px;
  padding-bottom: 15px;
}

.class-contract {
  position: relative;
  display: flex;
  width: 275px;
  height: 135px;
  text-align: -webkit-center;
  align-items: flex-end;
  justify-content: flex-start;
  border: 1px solid;
  padding-left: 10px;
}

.class-contract::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--backgroundImageUrl);
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.class-contract span {
  z-index: 5;
  font-family: Oswald, serif;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background-color: #00000091;
  padding: 2px;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  transform: scaleX(-1);
  overflow: unset;
  filter: brightness(0.3);
  opacity:0.4;
  pointer-events: none;
  z-index: -1;
}

.col {
  padding: 8px;
  padding-left: 7% !important;
  width: 447px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-class {
  display: flex;
  margin-bottom: 8px;
}

.player-class label {
  width: 122px;
}

.player-level {
  display: flex;
  margin-bottom: 15px;
}

.player-level input {
  padding-left: 14px;
}

.wrapper-class {
  width: 150px;
  border: 1px #555 solid;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.player-level input {
  text-align: center;
  border: 1px #555 solid;
  border-radius: 0;
  color: #ccc;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.player-level input {
  background-color: rgba(0, 0, 0, 0.4);
}

label {
  color: tan;
}

.arrow-buttons {
  font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    background-color: rgba(0, 0, 0, 0.4);
}

#up-arrow {
  padding:0;
  height:24px;
  border-color: #222;
  color: #ccc;
  vertical-align: middle;
  margin-left:4px;
  width:30px
}

#down-arrow {
  padding:0;
  height:24px;
  border-color: #222;
  color: #ccc;
  vertical-align: middle;
  margin-left:4px;
  width:30px;
}

#down-arrow:hover,
#up-arrow:hover,
#refresh-btn:hover {
  color: tan;
}

#refresh-btn {
  padding: 0;
  height: 24px;
  border-color: #222;
  color: #ccc;
  vertical-align: middle;
  margin-left: 4px;
  width: 30px;
}

::ng-deep .mat-mdc-icon-button {
  border-radius:0 !important;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: 25px !important;
  left: 50%;
  width: 30px !important;
  transform: translate(-50%, -50%);
  border: 1px solid #555;
}

.player-level label {
  width: 122px;
}

.player-level input {
  width: 46px;
}

.player-attributes div label {
  width: 122px;
}

.player-attributes .stat-wrapper {
  display: flex;
  justify-content: center;
  width: 46px;
  border: 1px #555 solid;
  border-radius: 0;
  color: #ccc;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}

.player-attributes div {
  display: flex;
  align-items: flex-end;
}

.n1 .mini-captions {
  font-size: 10px;
  color: #ccc;
  display: flex;
}

.mini-captions span {
  width: 122px;
}

.characters-label {
  display: flex;
  justify-content: center;
}

.story-label {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  background-color: #160001;
  margin: 5px 0;
  border: 1px solid #ffd602;
  height: 200px;
  box-shadow: inset 0px 0px 25px #030a0d;
  background-image: url(/assets/graphics/splash.png);
  margin-top: 9px;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.small-text {
  font-size: 12px;
  margin-bottom: 2px !important;
}

hr {
  border: 0;
    height: 2px;
    width: 100%;
    background-color:rgb(202 179 92);
}

.footer {
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d9b359;
  background-color: #004f8457;
}

.footer-text {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-text p {
  margin:0;
}

html {
  scroll-behavior: auto;
}

@keyframes new_blink {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

#portraits-ul li {
  position: relative;
}

.selected-portrait {
  position: relative;
  overflow: hidden;
}

.selected-portrait::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  animation: shining 10s infinite;
  animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  animation-fill-mode: forwards;
}

@keyframes shining {
  0% {
    left: -75%;
  }
  5% {
    left: 125%;
  }
  100% {
    left: 125%;
  }
}

.chara-pointer {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  animation: new_blink 1.5s ease-in-out infinite;
  width: 50px;
  height: 50px;
}

.chara-pointer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: -70px;
}

#class-name {
  letter-spacing: 0.1rem;
}

.class-background {
  position: relative;
  padding: 50px;
}

.class-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--backgroundImageUrl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.meta-wrapper {
  display: flex;
  width: 100%;
  border: 1px solid #ffd602;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  box-shadow: inset 0px 0px 25px #030a0d;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.meta-wrapper.build-background {
  background-color: transparent;
}

.meta-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-color: black;
}

.build-background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.build-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

.rune-wrapper {
  display: flex;
  width: 100%;
  border: 1px solid #ffd602;
  background-color: black;
  padding: 5px 10px;
  justify-content: center;
  background-image: url(https://live.staticflickr.com/65535/53582582661_9249e7a6dc_k.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15px;
  border: 3px solid transparent;
    border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.rune-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.20);
}

.class-portrait {
  position: relative;
  display: flex;
  width: 156.34px;
  height: 70.34px;
  text-align: -webkit-center;
  align-items: flex-end;
  justify-content: flex-start;
}

.class-portrait::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--backgroundImageUrl);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.class-portrait span {
  position: relative;
  z-index: 1;
  color: #ffffff !important;
  text-shadow: 0 0 black;
  padding-left: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.banner-wrapper {
  height: 196px;
  overflow: hidden;
}

.banner-wrapper img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.custom-tooltip {
  background-color: black;
  padding: 5px;
  border-radius: 6px;
  border: 3px solid #b39a72;
  position: absolute;
  top: -130px;
  left: 0px;
  z-index: 1000;
  width: 200px;
  height: 115px;
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.media-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.media-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

#portraits-ul li {
  position: relative;
}

@keyframes sheen {
  0%, 5% {
    transform: translateX(-150%) skewX(-30deg);
  }
  8% {
    transform: translateX(200%) skewX(-30deg);
  }
  100% {
    transform: translateX(200%) skewX(-30deg);
  }
}

.reveal {
  opacity: 0;
  animation: reveal 2s ease forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes holographicTilt {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.holographic-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 0, 255, 0.25),
    rgba(0, 255, 255, 0.25),
    rgba(255, 255, 0, 0.25),
    rgba(255, 255, 255, 0.15)
  );
  background-size: 200% 200%;
  animation: holographicTilt 4s linear infinite;
  z-index: 1;
}

blockquote {
  font-size: 15px;
  line-height: 20px;
  float: left;
  margin: 0 0 1em;
  width: 440px;
  padding: 45px;
  padding-bottom: 20px;
  border: none;
  color: #dddddd;
  margin: 0;
  background-image: url(https://dragons-crown.com/resources/img/top/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 295px;
}

blockquote ul {
  list-style-position: outside;
  list-style-image: url(https://www.4gamer.net/img/sp_dragonscrown/img_dc_chara_point_list.png);
  min-height: 10px;
  padding: 50px 0 25px 0;
  margin: -50px 0 0 0;
  background-image: url(https://www.4gamer.net/img/sp_dragonscrown/bg_dc_chara_point_fairy.png);
  background-repeat: no-repeat;
  background-position: right top;
}

blockquote h5 {
  font-family: 'meiryo';
  font-size: 18px;
  line-height: 30px;
  color: #ffff00;
  padding:0;
}

blockquote ul li {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(14, 14, 14, 1.0));
  font-size: 16px;
  text-align: justify;
}

.attribute-rows {
  margin-bottom: 4px;
}

.scaling-wrapper {
  display: flex;
  justify-content: center;
  width: 46px;
  border: 1px #555 solid;
  border-radius: 0;
  color: #ccc;
  margin: 0;
  margin-left: 72px;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}

.sprite-container img {
  transition: filter 0.2s ease-out;
  z-index:2;
  position: relative;
}

.sprite-container img:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
}

.exp-captions {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 4px;
}

.exp-captions span:first-child {
  padding-left: 1px !important;
}

.exp-wrapper {
  width: fit-content !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  min-width: 80px;
}

.exp-box {
  margin-left: 0px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.skill-cards {
  width: 150px;
  height: auto;
}

.sheen-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.selected-skills {
  z-index: 1;
  background-color: rgb(0 0 0) !important;
  color: white !important;
  border: 3px solid transparent !important;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 !important;
  box-shadow: 0px 1px 1px black;
}

#common-btn {
  border: 3px solid transparent;
  margin-bottom: -2px;
  border-radius: 6px 0 0 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color:rgba(153, 153, 153, 0.088);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  font-size: 12px;
  border-bottom: none !important;
}

#common-btn:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 3px solid #fff;
}

#unique-btn {
  border: 3px solid transparent;
  margin-bottom: -2px;
  border-radius: 0 0 0 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color:rgba(153, 153, 153, 0.088);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  font-size: 12px;
  border-bottom: none !important;
}

#unique-btn:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 3px solid #fff;
}

#quests-btn {
  border: 3px solid transparent;
  margin-bottom: -2px;
  border-radius: 0 0 0 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color:rgba(153, 153, 153, 0.088);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  font-size: 12px;
  border-bottom: none !important;
}

#quests-btn:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 3px solid #fff;
}

#build-btn {
  border: 3px solid transparent;
  margin-bottom: -2px;
  border-radius: 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color:rgba(153, 153, 153, 0.088);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  font-size: 12px;
  border-bottom: none !important;
}

#build-btn:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 3px solid #fff;
}

#rune-matcher-btn {
  border: 3px solid transparent;
  margin-bottom: -2px;
  border-radius: 0 6px 0 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color:rgba(153, 153, 153, 0.088);
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  font-size: 12px;
  border-bottom: none !important;
}

#rune-matcher-btn:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 3px solid #fff;
}

.common-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
}

.unique-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
}

.remaining-sp {
  /* font-family: Oswald, serif; */
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05rem;
  margin-bottom: 5px;
  padding-top: 0;
  color: #cab35c;
}

.skill-box {
  width: 350px;
  float: left;
}

.skill-box p {
  margin-bottom: 0;
  padding-top: 0;
  width: 100%;
  height: fit-content;
}

.skillListWrap {
  width: 350px;
  float: left;
}

.skillListWrap dl {
  /* margin-bottom: 15px;
  border: 1px solid rgb(255, 255, 255); */
}

.skillListWrap dt {
  padding: 5px 10px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  background: #1b1a1a;
  color: #f4e0a5;
  border: 0px;
  font-size: 14px;
  /* box-shadow: 2px 5px 10px rgba(0,0,0,0.5), inset 0px 0px 14px 1px rgba(0,0,0,0.75); */
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 stretch;
}

.skillListWrap dt:hover {
  cursor: pointer;
  /* background-color: rgb(113 35 35 / 40%); */
  color: #FFFFFF;
}

.skillListWrap dd {
  border: 0.2px solid #999;
  border-top: none;
}

.skillListWrap ol {
  display: block;
  width: 100%;
  height: 24px !important;
  line-height: 0;
}

.skillListWrap li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 5px 0;
  width: 10%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #fff;
  border-right: none;
  color: #ccc;
  text-align: center;
  float: left;
  cursor: pointer;
  background-color: rgba(21, 43, 56, 0.2);
}

.skillListWrap li:last-child {
  border-right: 1px solid #fff;
}

.skillListWrap li:hover {
  background-color: gray;
}

.skillListWrap dt span {
  padding: 0px 0px;
  text-align: center;
  color: #aaa;
  background: transparent;
  border: 0;
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.btn-base {
  padding: 3px 5px;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  background: #999;
  color: #fff;
  cursor: pointer;
}

.btn-base mat-icon:hover {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

ol {
  list-style: none;
}

dd, ol, table, tbody, th {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.skillWrap:after, .skillListWrap ol:after, .contentsInfoBoard .btn-group:after, aside:after, .updateInfo dl:after, .wrap:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0;
}

.skillInfoBoard {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 29px;
  margin-left: 25px;
  padding: 5px 10px;
  padding-top: 20px;
  border: 1px solid #fff;
  width: 100%;
  min-height: 300px;
  float: left;
  display: block;
  z-index: 100;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.skillInfoBoard table {
  margin-bottom: 15px;
  width: 100%;
  font-size: 12px;
}

.skillInfoBoard table tbody tr:first-of-type {
  background-color: #1b1a1a;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.skillInfoBoard table th {
  padding: 5px 10px;
  /* background-color: rgb(21 43 56 / 77%); */
  text-align: left;
  border: 1px solid #fff;
}

.skillInfoBoard table td {
  padding: 5px 10px;
  text-align: right;
  border: 1px solid #fff;
}

.skillInfoBoard h3 {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  min-height: 33.59px;
}

.disabled-ranks {
  pointer-events: none !important;
  background-color:rgb(88, 88, 88) !important;
}

.highlighted-skill {
  background-color: rgb(179 28 31 / 78%);
}

.skill-card-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skill-info-board-child {
  transition: transform 0.1s ease-out;
}

.tilt {
  --a: 1deg;
  width: 150px;
  aspect-ratio: 0.6;
  border-radius: 6px;
  transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
  -webkit-mask: linear-gradient(135deg,#000c 40%,#000,#000c 60%) 100% 100%/250% 250%;
  transition: .4s;
  cursor: pointer;
}

.tilt:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}

.selected-skill {
  /* background-color: rgb(177 45 47 / 80%) !important; */
  color:#FFFFFF !important;
}

.selected-rank {
  background-color: rgba(232, 185, 0, 0.77) !important;
  color: #fff !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  color: #fff;
  background-color: #282828;
  padding: 30px;
}

.modal.show {
  display: block;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.quests-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  margin-top: 4px;
}

.quests-wrapper th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
}

.quests-wrapper th {
  background-color: #1b1a1a;
  color: #cab35c;
}

.quests-wrapper tr:hover {
  background-color: #666;
}

.quests-wrapper input[type="checkbox"] {
  margin-right: 10px;
}

.quests-wrapper button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quests-wrapper button:hover {
  background-color: #45a049;
}

.quests-wrapper span {
  /* font-family: Oswald, serif; */
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05rem;
  margin-bottom: 5px;
  padding-top: 0;
  color: #cab35c;
}

.quests-wrapper tr th {
  vertical-align: middle;
}

.quests-wrapper tr td {
  vertical-align: middle;
}

.build-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  margin-top: 4px;
  position: relative;
  z-index: 3;
}

.build-wrapper tbody tr {
  background-color: #0000009e;
}

.build-wrapper th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
}

.build-wrapper th {
  background-color: #051b2d;
  color: #fff;
}

.build-wrapper tr:hover {
  background-color: #666;
}

.build-wrapper input[type="checkbox"] {
  margin-right: 10px;
}

.build-wrapper span {
  font-family: Oswald, serif;
  letter-spacing: 0.05rem;
  margin-bottom: 5px;
  padding-top: 0;
  color: #fff;
  z-index: 3;
}

.build-wrapper tr th {
  vertical-align: middle;
}

.build-wrapper tr td {
  vertical-align: middle;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
}

.card {
  width: 100px;
  height: 150px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card-content {
  z-index: 2;
  color: white;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 12px;
  background-color: darkslategray;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.build-placeholder {
  min-height: 500px;
  width: 100%;
  color: #d9b359;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.build-effects {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.build-effects li {
  position: relative;
  padding-left: 16px;
}

.build-effects li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 12px;
  background-image: url('https://www.4gamer.net/img/sp_dragonscrown/img_dc_chara_point_list.png');
  background-size: contain;
  transform: translateY(-50%);
}

hr.custom-hr {
  border: none;
  height: 5px;
  background-image: url('https://www.4gamer.net/image/bg_4gamer.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.common-unique-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px 10px 5px;
  margin-bottom: 15px;
}


.common-unique-wrapper h3 {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  min-height: 33.59px;
}

.animated-sprite img {
  filter: drop-shadow(0px 0px 5px white);
}

.mat-mdc-button:not(:disabled) {
  color: #fff;
}

.highlighted-row {
  background-color: rgba(177 45 47 / 40%);
}

.highest-selected-rank {
  background-color: rgba(177 45 47 / 40%);
  color: #fff;
  animation: pulseAnimation 2s infinite;
}

.highest-selected-rank th {
  /* background-color: rgb(21 43 56 / 100%) !important; */
  color: #fff !important;
}

@keyframes pulseAnimation {
  0%, 100% {
    background-color: rgba(177 45 47 / 40%);
    color: #fff;
  }
  50% {
    background-color: rgba(177 45 47 / 80%);
    color: #fff;
  }
}

.build-buttons {
  border: 1px solid transparent;
  font-family: Oswald, serif;
  letter-spacing: 0.05rem;
  font-size: 16px;
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
}

.build-buttons:hover {
  background-color:rgba(153, 153, 153, 0.278);
  border: 1px solid #fff;
  font-family: Oswald, serif;
  letter-spacing: 0.05rem;
  font-size: 16px;
}

