/* scroll button: https://dragons-crown.com/resources/img/common/btn_to_top.png */

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Set minimum content height to fill the screen */
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto; /* Allow vertical scrolling */
}

#video-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Behind everything else */
  overflow: hidden;
}

#video-background-player {
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  object-fit: cover;
  pointer-events: none; /* Disables interaction */
}

.bg-overlay {
  position: fixed; /* Use fixed to cover the entire viewport like the video */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: -1; /* On top of the video but below everything else */
  background-image: url("https://dragons-crown.com/resources/img/top/overlay.png");
  background-repeat: repeat;
}

.main {
  display: flex; /* This ensures it's on top of the fixed-position elements */
  background: none; /* Adjust if you want a background for content */
  padding: 1em; /* Padding around content */
  /* Further styling for your content */
}

#logoImg {
  width: 150px;
  height: auto;
  z-index: 3; /* Ensures logo is on top of other content */
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1.0));
}

.content {
  position: relative; /* This makes it the reference point for absolute positioning inside */
  max-width: 1000px; /* Limit content width for readability */
  margin: 0 auto; /* Center content horizontally */
  margin-top: 95px; /* Adjust as needed */
  margin-bottom: 100px;
  padding: 20px; /* Add some padding around the content */
  padding-top: 60px;
  /* padding-top: 0; */
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
  border: 1px solid #808080;
  border-radius: 8px; /* Optional: Round corners for the content box */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow for depth */
  background-color: rgba(21, 43, 56, 0.9);
  color: #fff;
  box-shadow: 0px 0px 10px 2px #000000;
  background-image: url(https://atlus.com/dragonscrown/img/system/magicshop_bg1.png);
  background-repeat: repeat;
  background-position: top left;
  background-size: 100%;
}

.gdiv {
  position: absolute; /* Position relative to .content */
  top: -23px; /* Adjust this value so that .gdiv's bottom aligns with .content's top */
  left: 0;
  width: 100%; /* Ensure it spans the full width of .content */
  z-index: 10; /* Ensure it's above the content */
}

.gdiv img {
  display: block; /* Remove any default spacing/margin */
  width: 100%;
  height: auto;
}


.content h1 {
  color: #222; /* Heading color */
  color: #e4b612;
  margin-bottom: 20px; /* Spacing below the heading */
}

.content p {
  line-height: 1.6; /* Increase line-height for readability */
  margin-bottom: 20px; /* Spacing between paragraphs */
  font-family: fantasy;
  padding-top: 20px;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(14, 14, 14, 1.0));
  text-align: justify;
  color: #fff;
}

.content button {
  background-color: #007bff; /* Example button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Round button corners */
  cursor: pointer; /* Change mouse cursor on hover */
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.content button:hover {
  background-color: #0056b3; /* Darken button on hover */
}

.portraits {
  display: flex;
  width: 100%;
}

.portraits ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.portraits ul li img {
  width: 100%;
  height: 100%;
}

.unselected {
  width: 100%;
  height: auto;
  opacity: 0.7;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  transition: filter 0.6s, opacity 0.3s;
}

.unselected:hover {
  box-shadow: rgba(3, 102, 214, 1) 0px 0px 0px 2px;
  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5)) brightness(1.2);
  z-index: 3;
}

.selected {
  box-shadow: rgb(244 67 54) 0px 0px 0px 2px;
  width:100%;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5)) brightness(1.2);
  opacity: 1;
  z-index: 2;
}

.spacer {
  height: 500px;
}

.n3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://atlus.com/dragonscrown/img/story/storytext_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  width: 500px;
  max-width: 500px;
  /* -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1.0)); */
}

.class-description {
  min-height: 150px;
}

.class-title {
  display: flex;
  justify-content: center;
  width:100%;
  background-color: rgb(31 3 2 / 90%);
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  border-top: 12px double rgba(93, 53, 2, .7);
  border-bottom: 12px double rgba(93, 53, 2, .7);
}

#title-img {
  width: auto;
  height: 40px;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(10, 10, 10, 1.0));
}

.position-gif {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height:160px;
}

.gif-wrapper {
  position: relative; /* This is crucial for absolute positioning of children */
  width: 210px;
  /* width: 615px; */
  height: fit-content;
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
  padding: 5px;
  /* border-radius: 15px;
  border: 2px solid red; */
}

.gif-crt {
  position: absolute; /* Changed from relative to absolute */
  top: 0;
  left: 0;
  right: 0; /* Ensure it covers the whole area */
  bottom: 0; /* Ensure it covers the whole area */
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent overlay */
  z-index: 2; /* Higher z-index since we want this on top */
  background-image: url("https://dragons-crown.com/resources/img/top/overlay.png");
  background-repeat: repeat;
  pointer-events: none; /* Allows click events to pass through */
  opacity: 0.2;
  /* border-radius: 15px; */
}

.gif-animation {
  position: relative;
  width: auto; /* This will be relative to .gif-wrapper's width */
  /* height: auto; */
  z-index: 1; /* Lower z-index, but it's not necessary with the absolute positioning */
  /* background-color: #fff; */
  border-radius: 15px;
  max-height: 150px;
  padding: 10px;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1.0));
}

.planner {
  width: 958px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.col {
  padding: 8px;
  border: 1px solid #555;
  width: 320px;
  max-width: 320px;
}

.player-class {
  display: flex;
  margin-bottom: 8px;
}

.player-class label {
  width: 122px;
}

.player-level {
  display: flex;
  margin-bottom: 5px;
}

.player-level input {
  padding-left: 14px;
}

.wrapper-class {
  width: 150px;
  border: 1px #555 solid;
  padding-left: 5px;
  background-color:rgb(21 43 56);
}

input {
  text-align: center;
  border: 1px #555 solid;
  border-radius: 0;
  color: #ccc;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=number] {
  background: rgb(21 43 56);
}

label {
  color: tan;
}

.player-level label {
  width: 122px;
}

.player-level input {
  width: 46px;
}

.player-attributes div label {
  width: 122px;
}

.player-attributes .stat-wrapper {
  display: flex;
  justify-content: center;
  width: 46px;
  border: 1px #555 solid;
  border-radius: 0;
  color: #ccc;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(21 43 56);
}

.player-attributes div {
  display: flex;
  margin-bottom: 5px;
}

.characters-label {
  display: flex;
  justify-content: center;
  /* margin-top: 60px;
  margin-bottom: 30px; */
}

.story-label {
  display: flex;
  justify-content: center;
  /* margin-top: 60px;
  margin-bottom: 30px; */
}

.small-text {
  font-size: 12px;
  margin-bottom: 2px !important;
}

hr {
  border: 0;
    height: 2px;
    width: 100%;
    background-color:rgb(202 179 92);
    /* background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(255,255,255),rgb(255,255,255)); */
}

#level {
  pointer-events: none;
}
