<div class="wrapper">
  <div *ngIf="hasCurrentSpell" class="spell-counter spell-counter-top-left reveal">
    <div class="progress-container">
      <div class="progress-bar" [style.width]="getProgressWidth()">
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <span>Score: {{ currentScore }}</span>
      <span class="progress-text">{{ spellKey.length - spells.length }} / {{ spellKey.length }}</span>
    </div>
  </div>
  <div *ngIf="hasCurrentSpell" class="spell-counter spell-counter-top-right reveal">
    <button class="option-buttons" (click)="restart()">Restart</button>
  </div>
  <div *ngIf="hasCurrentSpell" class="current-spell-wrapper">
    <div *ngIf="!noSpellsRemaining" class="spell-content">
      <label for="spellRunes">{{ currentSpell.name }}</label>
      <div class="rune-container" (drop)="dropRune($event)" (dragover)="allowDrop($event)">
        <img *ngFor="let runeId of currentSpell.runes; let i = index;"
        class="rune-image"
        [src]="getRuneImageUrl(runeId)"
        alt="rune.png"
        [draggable]="false">
      </div>
    </div>
    <div *ngIf="noSpellsRemaining" class="no-spells reveal">
      <h6>You win!</h6>
    </div>
  </div>
  <div class="spell-result slow-reveal" *ngIf="revealSpell">
    <div class="icon-wrapper">
      <img class="icon-image" src="https://atlus.com/dragonscrown/img/system/arch.png" alt="">
    </div>
    <div class="spell-details">
      <h5>{{ currentSpell.name }}</h5>
      <p>{{ currentSpell.description }}</p>
    </div>
  </div>
  <div class="footer-container reveal">
    <div class="button-and-runes-container">
      <div class="carried-runes">
        <div *ngFor="let carriedRune of carriedRunes; let i = index" class="rune-container">
          <span class="rune-letter" [ngClass]="{'reveal-letters': showRuneLetters, 'hide-letters': !showRuneLetters}">{{ carriedRune.letter }}</span>
          <img class="rune"
               [src]="carriedRune.imageUrl"
               alt=""
               (click)="selectRune(carriedRune.id)"
               [style.--wave-delay]="getDelay(i) + 's'"
               [ngClass]="{'selected': isSelected(carriedRune.id), 'no-animation': !hasCurrentSpell}"
               [draggable]="true"
               (dragstart)="dragStart($event, carriedRune.id)">
        </div>
      </div>
      <div class="option-buttons-container">
        <button class="option-buttons" (click)="getSpell()" [disabled]="!isNextAvailable()">{{ spells.length === 0 ? 'End' : hasCurrentSpell ? 'Next' : 'Begin' }}</button>
        <button class="option-buttons" (click)="viewRuneLetters()">{{ showRuneLetters ? 'Hide Hint' : 'Show Hint' }}</button>
        <button id="evaluate-button" class="option-buttons" (click)="evaluateCombination(currentRunes, userRunes)" [disabled]="!isSelectionComplete()">Evaluate</button>
      </div>
    </div>
  </div>
</div>
