.wrapper {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.start-wrapper {
  min-height: 295px;
  height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 25px #3c362f;
  border: 1px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  background-color: #1b1a1a;
  background-image: url(https://www.dragonsdogma.com/2/assets/images/common/texture_common.png);
  box-shadow: -1px 5px 10px rgba(0,0,0,0.5), inset 0px 0px 14px 1px rgba(0,0,0,0.75);
  z-index: 1;
  border: 10px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 stretch;
}

.menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#menu-text {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.01);
  margin: 0;
  padding: 0;
  font-size: 22px;
  min-height: 150px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  word-wrap: break-word;
  hyphens: auto;
  text-align: left;
}

.disable-pointer-events {
  pointer-events: none;
}

.carried-runes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 18px;
  left: 20%;
  gap: 20px;
}

.carried-runes .rune {
  opacity: 0.7;
  transition: filter 0.2s, opacity 0.2s, transform 0.2s ease-in;
  animation: float 2s ease-in-out infinite;
  will-change: animation;
  animation-delay: var(--wave-delay, 0s);
  width: 70px;
  height: 70px;
}

.carried-runes .rune:hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)) brightness(1.2) saturate(1.2) !important;
  opacity: 1 !important;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.shake-animation {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.option-buttons {
  border: 1px solid #ffd602;
  margin-bottom: -1px;
  border-radius: 0 0 0 0;
  width: 125px;
  font-family: Oswald, serif;
  text-rendering: geometricprecision;
  letter-spacing: 0.1rem;
  background-color: #015c74;
  transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 5 stretch;
}

.option-buttons:hover {
  background-color: #01546b;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

button.option-buttons:disabled {
  background-color: gray;
  color: #fff;
  cursor: not-allowed;
}

.selected {
  border-radius: 0px;
  animation: none !important;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5)) brightness(1.2) saturate(1.2) !important;
  opacity: 1 !important;
  position: relative;
  background-color: #1b1a1a;
  box-shadow: inset 0px 0px 14px 1px rgba(0,0,0,0.75);
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 5 stretch;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 230, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

@keyframes shining {
  0% {
    left: -75%;
  }
  5% {
    left: 125%;
  }
  100% {
    left: 125%;
  }
}

.no-animation {
  animation: none !important;
  filter: brightness(1.2) !important;
  opacity: 1 !important;
  filter: drop-shadow(4px 7px 3px black) !important;
}

.spell-result {
  display: flex;
  opacity: 0;
  animation: complexReveal 0.5s ease forwards;
  width: 400px;
  height: 100px;
  background-color: #1b1a1a;
  background-image: url(https://www.dragonsdogma.com/2/assets/images/common/texture_common.png);
  justify-content: space-between;
  border-radius: 3px;
  position: absolute;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  top: 55%;
  right: 0;
  padding: 5px;
  gap: 20px;
  letter-spacing: 0.05em;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 stretch;
  box-shadow: inset 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.reveal {
  opacity: 0;
  animation: subtleReveal 0.5s ease forwards;
}

.slow-reveal {
  opacity: 0;
  animation: complexReveal 3s ease forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subtleReveal {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  80% {
    opacity: 0.9;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes complexReveal {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.spell-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 10px;
  width: 100%;
}

.spell-counter {
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}

.spell-counter-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.hint-top-center {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hint-top-center label {
  min-width: 250px;
  font-size: 18px;
  text-align: center;
  background-color: #1b1a1a;
  background-image: url(https://www.dragonsdogma.com/2/assets/images/common/texture_common.png);
  text-shadow: 1px 1px black;
  padding: 0px 3px;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 stretch;
  box-shadow: -1px 5px 10px rgba(0,0,0,0.5), inset 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.spell-counter-top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.current-spell-wrapper {
  width: 100%;
  height: 285px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  position: absolute;
  top: 10%;
}

.spell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.carried-rune-container {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-evenly;
}

.carried-rune-container img {
  width: 70px;
  height: 70px;
}

.rune-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.rune-container img {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: drop-shadow(1px 6px 10px black) brightness(110%) contrast(120%) saturate(120%);
  animation-name: subtleReveal, sizePulse;
  animation-duration: 1s, 1s;
  animation-timing-function: ease, ease;
  animation-fill-mode: forwards, none;
  animation-iteration-count: 1, infinite;
}

@keyframes sizePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.no-spells {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-spells h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.stats-box {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.footer-container {
  width: 100%;
  height: 110px;
  background-color: #1b1a1a;
  background-image: url(https://www.dragonsdogma.com/2/assets/images/common/texture_common.png);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 0;
  border: 8px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30 stretch;
  box-shadow: -1px 5px 10px rgba(0,0,0,0.5), inset 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.button-and-runes-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 10px;
}

.option-buttons-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.start {
  justify-self: start;
}

.end {
  justify-self: end;
}

.icon-image {
  height: 100%;
}

.progress-container {
  width: 100%;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3px black;
}

.progress-bar {
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.progress-text {
  color: #fff;
  text-shadow: 1px 1px black;
}

.rune-letter {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(-10px);
  position: absolute;
  z-index: 2;
  top: -22px;
  scale: 1;
}

.reveal-letters {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.hide-letters {
  opacity: 0;
  transform: translateY(-10px) scale(0.5);
}

#start-button {
  position: relative;
}

#start-button::after {
  animation: pulsate 1.5s ease infinite;
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: .1;
    transform: scale(3, 3);
  }
}

#start-button.enable-next::before,
#start-button.enable-next::after {
  right: -19px;
  top: 13px;
  position: absolute;
  background: #e44732;
  border-radius: 100%;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  z-index: 1;
}

#start-button.can-evaluate::before,
#start-button.can-evaluate::after {
  right: -19px;
  top: 58px;
  position: absolute;
  background: #e44732;
  border-radius: 100%;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  z-index: 1;
}

#start-button.suggest-hint::before,
#start-button.suggest-hint::after {
  right: -590px;
  top: 13px;
  position: absolute;
  background: #e44732;
  border-radius: 100%;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  z-index: 1;
}

#start-button.suggest-new-game::before,
#start-button.suggest-new-game::after {
  right: -590px;
  top: 58px;
  position: absolute;
  background: #e44732;
  border-radius: 100%;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  z-index: 1;
}

.loader-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000006b;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
