<div class="wrapper" *ngIf="gameStarted">
  <div *ngIf="hasCurrentSpell" class="spell-counter spell-counter-top-left reveal">
    <div class="progress-container">
      <div class="progress-bar" [style.width]="getProgressWidth()">
      </div>
    </div>
    <div class="stats-box">
      <span style="text-shadow: 1px 1px black;">Score: {{ currentScore }}</span>
      <span class="progress-text">{{ spellKey.length - spells.length }} / {{ spellKey.length }}</span>
    </div>
  </div>
  <div class="hint-top-center reveal" *ngIf="hasCurrentSpell && showRuneLetters">
    <label style="text-shadow: 1px 1px black;" for="spellRunes">{{ currentSpell.name }}</label>
  </div>
  <div *ngIf="hasCurrentSpell" class="current-spell-wrapper">
    <div *ngIf="!noSpellsRemaining" class="spell-content">
      <div #runeContainer *ngIf="hasCurrentSpell && !noSpellsRemaining" class="rune-container" (drop)="dropRune($event)" (dragover)="allowDrop($event)">
        <img *ngFor="let runeId of currentSpell.runes; let i = index;"
        [ngStyle]="{'left': runePositions[i].left, 'top': runePositions[i].top, 'position': 'absolute'}"
        class="rune-image"
        [src]="getRuneImageUrl(runeId)"
        alt="rune.png"
        [draggable]="false">
      </div>
    </div>
    <div *ngIf="noSpellsRemaining" class="no-spells reveal">
      <h3>You win!</h3>
    </div>
  </div>
  <div class="spell-result slow-reveal" *ngIf="revealSpell">
    <div class="icon-wrapper">
      <img class="icon-image" src="https://atlus.com/dragonscrown/img/system/arch.png" alt="">
    </div>
    <div class="spell-details">
      <h5>{{ currentSpell.name }}</h5>
      <p>{{ currentSpell.description }}</p>
    </div>
  </div>
  <div class="footer-container reveal">
    <div class="button-and-runes-container">
      <div class="carried-runes">
        <div *ngFor="let carriedRune of carriedRunes; let i = index" class="carried-rune-container" [ngClass]="{'disable-pointer-events': !carriedRunesEnabled}">
          <span class="rune-letter" style="text-shadow: 1px 1px black;" [ngClass]="{'reveal-letters': showRuneLetters, 'hide-letters': !showRuneLetters}">{{ carriedRune.letter }}</span>
          <img class="rune"
               [src]="carriedRune.imageUrl"
               alt=""
               (click)="selectRune(carriedRune.id)"
               [style.--wave-delay]="getDelay(i) + 's'"
               [ngClass]="{'selected': isSelected(carriedRune.id), 'no-animation': !hasCurrentSpell}"
               [draggable]="true"
               (dragstart)="dragStart($event, carriedRune.id)">
        </div>
      </div>
      <div class="option-buttons-container">
        <button mat-button id="start-button" class="option-buttons" (click)="getSpell()" [disabled]="!isNextAvailable() || noSpellsRemaining" [class.enable-next]="isNextAvailable() && !noSpellsRemaining" [class.can-evaluate]="isSelectionComplete() && !evaluated" [class.suggest-hint]="!isNextAvailable() && suggestHint && !isSelectionComplete()">{{ spells.length === 0 ? 'End' : hasCurrentSpell ? 'Next' : 'Start' }}</button>
        <button mat-button class="option-buttons end" (click)="viewRuneLetters()">{{ showRuneLetters ? 'Hide Hint' : 'Show Hint' }}</button>
        <button mat-button id="evaluate-button" class="option-buttons" (click)="evaluateCombination(currentRunes, userRunes)" [disabled]="!isSelectionComplete()">Submit</button>
        <button mat-button class="option-buttons end" (click)="restart()" [disabled]="!hasCurrentSpell || noSpellsRemaining">Restart</button>
      </div>
    </div>
  </div>
</div>

<div class="start-wrapper" *ngIf="!gameStarted">
  <div class="menu-box">
    <div style="width: 700px; height: 150px; padding: 0px 30px;">
      <p id="menu-text"></p>
    </div>
    <button (click)="startGame(); playSound('cast', .5)" class="option-buttons">Continue</button>
  </div>
</div>
