<div class="footer">
  <div class="footer-text">
    <p>Dragon's Crown Planner  |  mdharr7@gmail.com</p>
    <p>Special thanks: <a href="https://www.reddit.com/r/DragonsCrown/" target=”_blank”>Dragon's Crown Reddit</a>, <a href="https://discordapp.com/invite/TYjtMDA" target="_blank">Dragon's Crown International Discord</a>, <a href="https://www.youtube.com/@Dahkra" target="_blank">Dahkra</a> and <a href="https://www.youtube.com/watch?v=AvUru4waX3I&list=PL0nidrHwnRuON1iigKFPpzfJTDTvAwIRN" target="_blank">Hsien_Jo</a></p>
  </div>
</div>
