.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url(https://dragons-crown.com/resources/img/top/key.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ffd602;
  margin: auto;
}

.build-background {
  /* background: url('https://live.staticflickr.com/65535/53572893684_541cc6b34d_k.jpg') no-repeat top right; */
  background-color: rgba(0, 0, 0, 0.187);
  background-size: cover;
  z-index: 0;
}

.build-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: brightness(50%) opacity(70%);
  z-index: -1;
}

.build-wrapper table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 4px; */
}

.build-wrapper th, .build-wrapper td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #fff;
}

.build-wrapper th {
  background-color: #333;
}

.build-wrapper tbody tr:hover {
  background-color: #666;
}

.build-wrapper button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.build-wrapper button:hover {
  background-color: #45a049;
}

.build-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .meta-wrapper {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .build-wrapper th, .build-wrapper td {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
