<!-- <div style="padding-bottom: 15px;" class="meta-wrapper build-background" [style.backgroundImage]="'url(https://live.staticflickr.com/65535/53572893684_541cc6b34d_k.jpg)'">
  <div style="min-height: 500px; color: #ffffff;" class="build-placeholder">
    <h3>Unlock skills to start planning out your build!</h3>
  </div>
  <div class="build-wrapper" style="width: 100%;">
    <table class="build-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Rank</th>
          <th>Effects</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of build">
          <td>{{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          <td>{{ skill.rank }}</td>
          <td class="build-effects-wrapper">
            <ul class="build-effects">
              <li *ngFor="let effect of skill.effects.split(', ')">{{ effect }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<p>build-share-works</p>
