<div class="wrapper">
  <app-particles style="position: absolute;"></app-particles>
  <div class="meta-wrapper build-background">
    <div class="build-wrapper">
      <table class="build-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skill of buildArray">
            <td>{{ skill.name }}</td>
            <td>{{ skill.description }}</td>
            <td>{{ skill.rank }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
