.outer {
  position: relative;
  z-index: 1;
}

.inner {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  width: 241px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-title {
  content: "";
  position: absolute;
  top: -15px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: 30px;
}

/* .inner::before {
  content: "";
  background-image: var(--dynamic-background-image);
  background-size: cover;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 241px;
  height: 320px;
} */

canvas {
  display: block;
  image-rendering: pixelated;
  margin-top: -25px;
}

/* .gif-crt {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(https://en.dragon-ball-official.com/assets/img/news/comment/bg_dots.png);
  position: absolute;
  background-size: 2px;
} */

img {
  display: block;
  image-rendering: pixelated;
  width: fit-content;
  height: fit-content;
  margin-top: -25px;
}

.color-selector {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding-top: 7px;
}

.color-selector:before {
  content: "";
  position: absolute;
  background-image: url(https://dragons-crown.com/resources/img/character/color_c1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  top: -25px;
  width: 100%;
}

.color-selector div:first-child {
  margin-left: 30px;
}

.color-box {
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin-right: 6px;
  position: relative;
  transition: filter 0.2s, transform 0.2s;
  border: 2px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.color-box:hover {
  filter:brightness(1.3);
  transform: scale(1.1);
  cursor: pointer;
  /* border: 3px solid transparent;
  overflow: hidden;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30; */
}

.color-box::before {
  content: "";
  background-image: url(https://atlus.com/dragonscrown/img/character/bg_colorvariations.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  overflow:hidden;
}

/* .crt {
  width: 241px;
  height: 320px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: black;
}

.crt img {
  height: auto;
  image-rendering: pixelated;
}

.crt canvas {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.crt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 1px,
      black 1px,
      black 2px
  );
  opacity: 0.5;
  z-index: 2;
}

.crt::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 25%, black 75%);
  pointer-events: none;
  z-index: 3;
  mix-blend-mode: color;
  transform: translateX(-50%) scale(1.02);
} */

/*
.color-selector:before {
  content: "";
  position: absolute;
  background-image: url(https://dragons-crown.com/resources/img/special/menu_bg.png);
  background-repeat: no-repeat;
  height: 50px;
  background-size: contain;
} */

/* .inner.crt::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background-image: url(https://atlus.com/dragonscrown/img/character/color_variations_title.png);
  background-image: var(--dynamic-background-image);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
} */
