.outer {
  position: relative;
  z-index: 1; /* Ensure this is the starting layer context */
}

.inner {
  position: relative; /* This makes .inner the reference for its absolutely positioned children */
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  width: 241px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  image-rendering: pixelated;
}

.gif-crt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire .inner container */
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2; /* Higher than canvas to overlay it */
  background-image: url("https://dragons-crown.com/resources/img/top/overlay.png");
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.1;
}

img {
  display: block;
  image-rendering: pixelated;
}
